<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="iWMS.SystemFramework.ApplicationConfiguration, iWMS.SystemFramework" />
    <section name="iWMSConfiguration" type="iWMS.Common.iWMSConfiguration, iWMS.Common" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iWMS.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    </compilation>
    <customErrors defaultRedirect="general\errorpage.htm" mode="Off" />
    <httpRuntime maxRequestLength="629145600" executionTimeout="12000"  targetFramework="4.6.1" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!-- The sessionState is currently set to inproc:  the lines following [mode="inproc"] are not used but are present for ease of configuration -->
    <sessionState cookieless="false" timeout="5" mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" />
    <globalization responseEncoding="utf-8" requestEncoding="utf-8" />
    <!-- security -->
    <authentication mode="Forms">
      <forms name=".ADUAUTH" loginUrl="security\login.aspx" protection="All" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  <ApplicationConfiguration>
    <add key="SystemFramework.Tracing.Enabled" value="False" />
    <add key="SystemFramework.Tracing.TraceFile" value="D:\KEYfields\iWMS_2008\iWMSTrace.txt" />
    <add key="SystemFramework.Tracing.TraceLevel" value="4" />
    <add key="SystemFramework.Tracing.SwitchName" value="iWMSTraceSwitch" />
    <add key="SystemFramework.Tracing.SwitchDescription" value="Error and information tracing for iWMS" />
    <add key="SystemFramework.EventLog.Enabled" value="True" />
    <add key="SystemFramework.EventLog.Machine" value="." />
    <add key="SystemFramework.EventLog.SourceName" value="iWMS" />
    <add key="SystemFramework.EventLog.LogLevel" value="1" />
  </ApplicationConfiguration>
  <iWMSConfiguration>
    <!-- Settings specific to the iWMS application -->
    <add key="iWMS.DataAccess.ConnectionString" value="server=AC-WMS;User ID=sa;Password=45`NGnZ>s9d\hN]v;database=iWMS_ACE_profile;Connection Reset=FALSE" />
    <add key="iWMS.Web.EnablePageCache" value="True" />
    <add key="iWMS.Web.PageCacheExpiresInSeconds" value="600" />
    <add key="iWMS.Web.EnableSsl" value="False" />
    <add key="iWMS.Web.DateFormat" value="dd/MMM/yyyy" />
    <add key="iWMS.Web.DateTimeFormat" value="dd/MMM/yyyy HH:mm:ss" />
    <add key="iWMS.UI.Language" value="en" />
    <add key="iWMS.Web.ImagePath" value="D:\KEYfields\iLogon_ACE\Image" />
    <add key="iWMS.Web.ExcelUploadPath" value="D:\KEYfields\iLOGON_ACE\Upload\" />
    <add key="iWMS.Web.CrimsonCurrency" value="D:\KEYfields\iLOGON_ACE\Download\ReceivingXML\" />
    <add key="iWMS.Web.CompanyName" value="KEYfields Pte Ltd" />	
    <add key="iWMS.Web.CrimsonPollPath" value="D:\KEYfields\iLOGON_ACE\Upload\poll\" />
    <add key="iWMS.Web.CrimsonSendPath" value="\\58.185.151.242\Send" />
    <add key="iWMS.Web.CrimsonReceivePath" value="\\58.185.151.242\Receive" />
    <!-- SAP Parameter -->
    <add key="SAP_Name" value="Q01" />
    <add key="SAP_AppServerHost" value="192.168.133.238" />
    <add key="SAP_Client" value="118" />
    <add key="SAP_User" value="HCL_RFC" />
    <add key="SAP_Password" value="hcl2013" />
    <add key="SAP_SystemNumber" value="01" />
    <add key="SAP_Language" value="EN" />
    <add key="SAP_PoolSize" value="5" />
    <add key="SAP_MaxPoolSize" value="10" />
    <add key="SAP_IdleTimeout" value="500" />
    <add key="LogFolder" value="D:\Keyfields\Log\" />
    <add key="LoginBoxFooterPath" value="D:\Keyfields\LoginBoxFooter\LoginPageMsg.txt" />
    <!-- end of SAP Parameter -->
    <!-- iSMS Parameter-->
    <!-- BABYLON iSMS Parameter-->
    <add key="iSMSURL" value="58.185.151.242" />
    <add key="iWMS.Web.iSMS.serverCPUid" value="BFEBFBFF000106A5" />
    <!-- EPHESUS iSMS Parameter
    <add key="iSMSURL" value="192.168.2.76" />
    <add key="iWMS.Web.iSMS.serverCPUid" value="BFEBFBFF00000F65" /> -->
    <add key="iWMS.Encrypt" value="256" />
    <!-- end iSMS Parameter-->
    <add key="iWMS.Encrypt" value="256" />
  </iWMSConfiguration>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=EmulateIE10" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="sessionTimeout" value="Y" />
    <add key="sessionTimeoutWarning" value="100000" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <applicationSettings>
    <iWMS.Web.Properties.Settings>
      <setting name="iWMS_Web_iSMSGateway_iSMSGatewayV2" serializeAs="String">
        <value>http://58.185.151.122/iSMSGateway/iSMSGatewayV2.asmx</value>
      </setting>
    </iWMS.Web.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="ZIWMSQIUPLOAD">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZIWMSQIUPLOAD'>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZIWMSQIUPLOAD_soap12">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZIWMSQIUPLOAD_soap12'>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://apssapqtld1:8000/sap/bc/srt/rfc/sap/zstl_iwms_qi_upload/800/zstl_iwms_qi_upload/ziwmsqiupload" binding="customBinding" bindingConfiguration="ZIWMSQIUPLOAD" contract="DOC_WEBI_ZSTL_IWMS_QI_UPLOAD.ZSTL_IWMS_QI_UPLOAD" name="ZIWMSQIUPLOAD" />
      <endpoint address="http://apssapqtld1:8000/sap/bc/srt/rfc/sap/zstl_iwms_qi_upload/800/zstl_iwms_qi_upload/ziwmsqiupload" binding="customBinding" bindingConfiguration="ZIWMSQIUPLOAD_soap12" contract="DOC_WEBI_ZSTL_IWMS_QI_UPLOAD.ZSTL_IWMS_QI_UPLOAD" name="ZIWMSQIUPLOAD_soap12" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.21.0.429" newVersion="2.21.0.429" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.21.0.429" newVersion="2.21.0.429" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 965D20F9-7453-4A6C-A455-5D984A579EFC-->