:host {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100% !important;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.action-button {
  width: 100% !important;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-left: 1px solid #e5e7eb;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
}
