
#languageTH {
    display: none;
}

#languageEN {
    display: none;
}

.language {
    display: none;
}

#showPieChartUtilization {
    display: none;
}

#clickRefresh {
    display: none;
}

#clickRefreshEN {
    display: none;
}

#distanceAlert {
    display: none;
}

#distanceAlertEN {
    display: none;
}

#assetDistanceAlert {
    display: none;
}

#showColumnChartPosition {
    display: none;
}

#showGeoChartSpeed {
    display: none;
}


.settings {
    display: none;
}

.users {
    display: none;
}

.companies {
    display: none;
}

.devices {
    display: none;
}

/*#vehicle-confirm-delete {
    display: none;
}

#vehicle-confirm-deleteEN {
    display: none;
}


#add-toggle-button {
    display: none;
}


#edit-toggle-button {
    display: none;
    visibility: hidden;
}*/



/*#custom-vehicles {
    display: none;
}*/


/*#custom-zones {
    display: none;
}*/


/*#zone-confirm-delete {
    display: none;
}*/


#company-confirm-delete {
    display: none;
}


#users-confirm-delete {
    display: none;
}


#custom-users {
    display: none;
}


#load-ver {
    display: none;
}

.userRoleDesc {
    display: none;
}

.reseller {
    display: none;
}

.userFormReseller {
    display: none;
}

.companyReseller {
    display: none;
}

.userResellerColumn {
    display: none;
}

.companyResellerColumn{
    display: none;
}

.companyReseller {
    display: none;
}

.assetDevices {
    display: none;
}

.select-reseller-filter {
    display: none;
}


.markerVideoEN {
    display: none;
}

.help {
    display: none;
}

.zones {
    display: none;
}

.jobs {
    display: none;
}