
#languageTH {
    display: none;
}

#languageEN {
    display: none;
}

.language {
    display: none;
}

.devices {
    display: none;
}

/*.reseller {
    display: none;
}*/

.userFormReseller {
    display: none;
}


.userResellerColumn {
    display: none;
}

.companyResellerColumn{
    display: none;
}

.companyReseller {
    display: none;
}

.assetDevices {
    display: none;
}

.markerVideoEN {
    display: none;
}

.help {
    display: none;
}

.zones {
    display: none;
}
.jobs {
    display: none;
}
