
#languageTH {
    display: none;
}

#languageEN {
    display: none;
}

.language {
    display: none;
}


.userRoleDescReseller {
    display: none;
}

.userRoleDescMaster {
    display: none;
}
.userRoleDescAdmin {
    display: none;
}

.zones {
    display: none;
}
.jobs {
    display: none;
}
