<header class="header">

  <div class="header-left">

    <h1>
      {{ translatedTitle }}
    </h1>

    <p>
      {{ translatedSubtitle }}
    </p>

  </div>

  <div class="header-right">

    <div class="user-email">
      <span>
        {{ currentUser?.Email }}
      </span>
    </div>

    <button type="button"
            class="icon-button">
      🔔
    </button>

    <button type="button"
            class="logout-button"
            (click)="logout()">

      🚪 {{ 'header.logout' | translate }}

    </button>

  </div>

</header>
