<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=113.197.35.185,1433;Network Library=DBMSSOCN;Initial Catalog=Find;
User ID=Fleet;Password=W-locate890;Max Pool Size=500;" />
    <add key="ConnectionString2" value="Data Source=113.197.35.185,1433;Network Library=DBMSSOCN;Initial Catalog=Find;
User ID=Fleet;Password=W-locate890;Max Pool Size=500;" />
    <add key="ConnectionString3" value="Data Source=113.197.35.185,1433;Network Library=DBMSSOCN;Initial Catalog=FindArchive;
User ID=Fleet;Password=W-locate890;Max Pool Size=500;" />
    <add key="ServerPath" value="http://113.197.35.185/WebServices/FindWeb" />
    <add key="MapPath" value="http://find.w-locate.com/fleet2/Map.aspx" />
    <add key="WebPath" value="http://find.w-locate.com/fleet2" />
    <add key="UITheme" value="4" />
    <add key="HelpFile" value="http://203.125.56.163/manual/" />
    <add key="DownloadCount" value="300" />
    <add key="DisablePosReport" value="0" />
    <add key="LogInRetry" value="6" />
    <add key="BingKey" value="AkyWDmBYh99Bfoazj0D5jGQL_zJ-Fhzmu59EG793Dnrxteyr3YnVlg0R2C9Am7sD" />
    <add key="GoogleKey" value="AIzaSyC6PIfg0XaWOnx9JW1Pb15AiB54nKBNeiE" />
    <add key="GoogleClientID" value="gme-wlocatepteltd" />
    <add key="GoogleBusinessKey" value="vV03WX7p_9aEpF3udv_p7aX6m14=" />
    <add key="OneMapKey" value="hAuLFKGFuyBkbi3PrvD1liGVJRoZ/4V/4CthX9kPcoyf71ntiTPyVR5ss/i13ybX0kvOsVRqJOJY2WZ2aAwAFRP/8xeuovQq|mv73ZvjFcSo=" />
    <add key="YahooMapKey" value="jp1Jjk7i" />
    <add key="AdminEmail" value="noreply@w-locate.com" />
    <add key="ServerNotice" value=""/>
    <add key="ProjectName" value="FIND-Test"/>
  </appSettings>
  <connectionStrings>
    <add name="FindDB" connectionString="Data Source=113.197.35.185,1433;Network Library=DBMSSOCN;Initial Catalog=Fleet;
User ID=Fleet;Password=W-locate890;Max Pool Size=500;" />
  </connectionStrings>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="false" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService" contract="Geocode.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService" contract="Geocode.IGeocodeService" name="CustomBinding_IGeocodeService" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="WlocateWeb.Wlocate" behaviorConfiguration="WlocateWeb.WlocateBehavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWlocate" contract="WlocateWeb.IWlocate">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWlocate" closeTimeout="00:59:00" openTimeout="00:59:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IGeocodeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IGeocodeService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WlocateWeb.WlocateBehavior">
          <useRequestHeadersForMetadataAddress />

          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647" />
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
		  <!-- fixes Not Found error on large data transfers -->
		  <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
                <add value="Wlocate.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>