<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FMSWinSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FMSWinSvc.Properties.Settings.mConnStr" connectionString="server=localhost;uid=root;pwd=$B$Transit888;database=adas;charset=utf8;default command timeout=99999999;"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFmsWcf"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://103.237.168.119/trackvnwcfapi/FmsWcf.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFmsWcf" contract="FmsWcfApi.IFmsWcf" name="BasicHttpBinding_IFmsWcf"/>
        </client>
    </system.serviceModel>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <applicationSettings>
        <FMSWinSvc.Properties.Settings>
            <setting name="MasterKey" serializeAs="String">
                <value>w46Ei61OlkaFiF9Sf58yTg</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>D:\inetpub\wwwroot\WinServices\_LiveSites\RawData</value>
            </setting>
            <setting name="DataPort" serializeAs="String">
                <value>18050</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>SBS</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>66.96.208.81</value>
            </setting>
            <setting name="DeviceID" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="SourceFile" serializeAs="String">
                <value>D:\inetpub\wwwroot\WinServices\_LiveSites</value>
            </setting>
            <setting name="OTAFile" serializeAs="String">
                <value>D:\data</value>
            </setting>
        </FMSWinSvc.Properties.Settings>
    </applicationSettings>
</configuration>
