<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FMSWinSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFmsWcf"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://103.237.168.119/trackdemowcfapi/FmsWcf.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFmsWcf" contract="FmsWcfApi.IFmsWcf" name="BasicHttpBinding_IFmsWcf"/>
        </client>
    </system.serviceModel>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <applicationSettings>
        <FMSWinSvc.Properties.Settings>
            <setting name="MasterKey" serializeAs="String">
                <value>w46Ei61OlkaFiF9Sf58yTg</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>FMS</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\inetpub\wwwroot\WinServices\_LiveSites\RawData</value>
            </setting>
            <setting name="DataPort" serializeAs="String">
                <value>18021</value>
            </setting>
        </FMSWinSvc.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
