<?xml version="1.0" encoding="utf-8"?>
<configuration>
	 <appSettings>
		<add key="connstr" value="server=AC-WMS;User ID=sa;Password=45`NGnZ>s9d\hN]v;database=iWMS_ACE_profile;Connection Reset=FALSE" />
    </appSettings>
	
	<system.web>
		<customErrors defaultRedirect="general\errorpage.htm" mode="Off" />
		<compilation debug="true" />
		<!-- The sessionState is currently set to inproc:  the lines following [mode="inproc"] are not used but are present for ease of configuration -->
		<sessionState cookieless="false" timeout="10" mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" />
		<globalization responseEncoding="utf-8" requestEncoding="utf-8" />
		
	</system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
	
	
</configuration>
