<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WlocateMsg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ClientBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IWlocate" closeTimeout="00:59:00"
            openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="FleetBindingConfig" closeTimeout="00:59:00" openTimeout="00:59:00"
            receiveTimeout="00:59:00" sendTimeout="00:59:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://wl6.cloudapp.net/Test-TrackWebSvc378/FindWebService.svc"
                behaviorConfiguration="ClientBehavior" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWlocate" contract="Wlocate.IWlocate"
                name="TrackEndpoint" />
            <endpoint address="http://113.197.35.185/Webservices/FleetWebSvc/FindWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="FleetBindingConfig"
                contract="Wlocate.IWlocate" name="FleetEndpoint" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WlocateMsg.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="EmailServer" serializeAs="String">
                <value>mail.w-locate.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>wlocate888</value>
            </setting>
            <setting name="EmailUser" serializeAs="String">
                <value>noreply@w-locate.com</value>
            </setting>
            <setting name="ModemPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>FIND-MsgSvc</value>
            </setting>
            <setting name="IsSMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEmail" serializeAs="String">
                <value>True</value>
            </setting>
        </WlocateMsg.Properties.Settings>
    </applicationSettings>
</configuration>